[submodule "thirdparty/openwrt-packages"]
	path = thirdparty/openwrt-packages
	url = https://github.com/openwrt/packages.git
	branch = for-15.05
[submodule "thirdparty/arduino-libs/Timer"]
	path = thirdparty/arduino-libs/Timer
	url = https://github.com/JChristensen/Timer.git
	branch = v2.1
[submodule "thirdparty/libjpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/LuaDist/libjpeg.git
[submodule "thirdparty/arduino-libs/Servo"]
	path = thirdparty/arduino-libs/Servo
	url = https://github.com/Glebka/Servo.git
